#root {
  
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.logo {
  
  padding: 0.5em;
  will-change: filter;
  font-family: 'Libre Baskerville', serif;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer{
  background-image:url("./assets/headerbg.png");
  background-repeat: repeat-y;
  background-size:0%;
       /*added here*/ }
/* Header.css */

.headerr {
  /* Other styles for your header */
  background-image: url('./assets/headerbg.png');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
}


